Repository fsnotify/fsnotify, pull requests merged in 2022-07, with the labels that each got.

#285 strings.Builder instead of bytes.Buffer [Go 1.10+]
  fsnotify.go
Labels: hold

#233 kqueue: Make watcher.Close() O(n) instead of O(n^2)
  kqueue.go
Labels: macOS (kqueue), BSD (kqueue), performance

#260 Do not suppress Chmod on non-existent file
  inotify.go
  inotify_test.go
Labels: Linux (inotify)

#287 Update documentation for linux systems (max_user_watches)
  README.md
Labels: Linux (inotify), documentation

#434 Replace Use of Kthread-blocking Epoll with Poller Read, Remove Per-Event LStats on Linux #433
  inotify.go
  inotify_poller.go
  inotify_poller_test.go
  inotify_test.go
Labels: Linux (inotify)

#370 Fix: Update watch paths when renaming directories with sub-watches on Windows
  helpers_test.go
  integration_test.go
  windows.go
Labels: windows, help-wanted

#288 [bugfix] close handle when remWatch open in getIno
  integration_test.go
  windows.go
Labels: windows
